@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@font-face {
  font-family: 'annabelle';
  src: url('AnnabelleJF.ttf');
}

h2,
h1,
strong,
p {
  font-family: 'PT Sans', sans-serif;
  color: white;
}

#map {
  width: 100%;
  height: 500px;
}

body {
  margin: 0;
  padding: 0;
}

.text {
  padding: 60px 20px 200px 20px;
  background-image: url("stars.jpg");
  background-size: cover;
}

h1 {
  text-align: center;
}

.names {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.name h2 {
  text-align: center;
}

.name h1 {
  font-family: 'annabelle';
}

.time {
  margin-top: 80px;
}

.time a {
  font-size: 2.3em;
  color: white;
  text-decoration: none;
  height: 70px;
  padding: 15px;
  background: rgb(35, 178, 245);
  box-shadow: 3px 4px 5px #aaa;
  border-radius: 10px;
  transition: all 0.3s ease;
  /* height: 80px; */
}

.time a:hover {
  background: rgb(31, 83, 107);
  /* background: rgb(0, 0, 0); */
}

@media only screen and (max-width: 500px) {
  .name {
    width: 100%;
  }
  .person {
    width: 100% !important;
  }
  .contact {
    padding: 0 !important;
  }
  .time a {
    font-size: 1.4em;
    text-decoration: none;
  }
}

@media only screen and (min-width: 768px) {
  .contact {
    padding: 0 200px;
  }
}

.details {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.time {
  width: 100%;
  text-align: center;
}

.place {
  width: 100%;
  text-align: center;
}

.contact {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.person {
  width: 50%;
  text-align: center;
}

.title {
  width: 100%;
  text-align: center;
}